<!-- 瀑布流项目 -->
{% for photo in viewed_photos %}
    <div class="masonry-item">
        <div class="photo-card">
            <a href="{% url 'photos:photo_detail' photo.pk %}">
                {% if photo.display_image %}
                    <img src="{{ photo.display_image.url }}" alt="{{ photo.title }}">
                {% else %}
                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                {% endif %}
            </a>
            <div class="photo-info">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title mb-0 text-truncate" style="font-size: 0.9rem;">{{ photo.title }}</h6>
                    </div>
                    <div class="d-flex align-items-center">
                        
                    </div>
                </div>
           </div>
        </div>
    </div>
{% endfor %}